.mdl-js {
  height: auto;
}
body {
  padding-bottom: 20px;
  width: 400px;
}
.mdl-textfield {
  width:365px;
}
.mdl-card {
  width: auto;
}

button {
  width: 100%;
  padding: 8px 0;
  border: none
}
.btn-primary[disabled] {
  background-color: #cccccc;
}
.btn-primary[disabled]:hover {
  background-color: #cccccc;
}
.form-group {
  margin: 8px 0;
}
#lectureSelect {
  height: 150px;
}
.span {
  float: right;
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.container-fluid {
  padding: 1em;
  padding-bottom: 1.5em;
  margin-right: auto;
  margin-left: auto;
}